<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
  <div class="tweet-container">
    <div class="tweet-card" *ngFor="let bookmark of bookmarks">
      <h3>{{ bookmark.title }}</h3>
      <img [src]="bookmark.imageUrl" alt="bookmark preview" />
      <i class="fa-solid fa-bookmark" style="color: grey;"></i>
      <p>{{ bookmark.description }}</p>
    </div>
  </div>
  
</body>
</html>